<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/src/assets/img/favicon/gato.png">
    <title>Escultura</title>
</head>
<body>
    <header>
        
        <div class="titulo-container">
            <div class="h1-h2">
                <h1 class="titulo">Gaviota Olmos</h1>
                <h2 class="artista">Artes Plasticas</h2>
            </div>
        </div>

        <nav>
            <ul class="nav-li">
                <li><a href="../../index.html#home">Home</a></li>
                <li><a href="../../index.html#bio">Bio</a></li>
                <li><a href="../../index.html#trabajos">Trabajos</a></li>
                <li><a href="../../index.html#contacto">Contacto</a></li>
                <li><a href="../../index.html#redes">Redes sociales</a></li>
                <li><a href="/src/view/productos.html">Productos</a></li>
            </ul>
        </nav>
    </header>
    <section class="obras">
        <h2>Escultura</h2>
    <div class="trabajos-container__escultura">
        <div class="trabajosEscultura gridEscultura1">
            <img src="/src/assets/img/escultura/escultura-1.webp" alt="escultura trabajada con hueso e hilos de plata y intervenida con miniaturas de metal " width="50%">
            <h3>Titulo de la obra</h3>
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt repellat culpa fugit id nam tempora impedit expedita qui officiis minima accusamus quidem, corrupti dignissimos consectetur consequuntur eaque sequi odit possimus.</p>
        </div>
        <div class="trabajosEscultura gridEscultura2">
            <img src="/src/assets/img/escultura/escultura-2.webp" alt="escultura trabajada con chapa hilos de plata y miniaturas de metal" width="50%">
            <h3>Titulo de la obra</h3>
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptate excepturi provident incidunt, ullam dolor illum voluptatem magnam delectus, omnis, doloremque quidem. Doloremque sapiente, tenetur explicabo fugit numquam asperiores sunt.</p>
        </div>
    </div>

        <div class="volver">
            <a href="../../index.html#trabajos">Volver</a>
        </div>
        
    </section>
    <footer class="footer">
        <p>Gaviota Olmos 2022© todos los derechos reservados.</p>
    </footer>
</body>
</html>