@media only screen and (max-width:480px){
    header{
        .titulo-container{
            .h1-h2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }
        }
        .nav-li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    section{
        .bienvenidos{
            font-size: 80%;
            display: flex;
            flex-direction: column;

            h2{ 
                letter-spacing: 3px;
                font-weight:300;
                transform: scale(1.5);
                transition: all 1.7s;
                &:hover{
                    transform: scale(2);
                }
            }
        }
    } 

    .bio{
        .bio-grid{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .trabajos{
        h2{
                margin-bottom: 40px;
            }
        .trabajos-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }
        }
    .contacto {
        .contact-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input{
                margin: 20px;
            }
            .trabajos-volver{
                transform: translateY(-10px);
            }
        }
    }
    .obras{
        .trabajos-container__obra{
            display: flex;
            flex-direction: column;
                .trabajosObra{
                    display: flex;
                    flex-direction: column;
                }
        }
    }
    
}

@media only screen and (min-width:468px) and (max-width:768px){
    .titulo-container{
        .h1-h2{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
    .nav-li{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
